@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

ul,
li {
  list-style-type: none;
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.btn-primary {
  width: 14em;
  padding: 1em;
  background-color: white;
  border: none;
  border-radius: 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}

.btn-hero {
  padding: 1em;
  width: 40%;
  border-radius: 2em;
  border: none;
  background-color: #ff52bf;
  color: white;
  cursor: pointer;
}
.btn-hero:hover {
  opacity: 0.8;
}

header {
  height: 100vh;
  background-image: url(/images/bg-hero-desktop.svg);
  background-color: #ebfbff;
}
header .hero-unit {
  padding: 0 4em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .hero-unit .hero-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
header .hero-unit .hero-content .hero-title {
  font-size: 2.5em;
  max-width: 80%;
}
header .hero-unit .hero-content .hero-subtitle {
  max-width: 71%;
}
header .hero-unit .hero-cover {
  width: 100%;
}

main .grid .illustration {
  width: 70%;
}
main .grid .illustration:nth-child(1) {
  width: 60%;
}

main {
  margin: 7.5em 4em 16em 4em;
  height: 185vh;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
main .grid {
  padding: 0 1.5em 0 6em;
  display: flex;
  align-items: center;
  border-radius: 0.5em;
  box-shadow: 0 0 5px 5px rgba(244, 244, 241, 0.711);
  justify-content: center;
}
main .grid .grid-box {
  width: 100%;
  padding: 3em 1em 3em 0;
  display: flex;
  align-items: center;
  gap: 12em;
}
main .grid .grid-box .box-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

nav {
  margin-bottom: 2em;
  height: 20vh;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 4em;
}

.footer-primary {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  background: #00252e;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: #ebfbff;
}
.footer-primary .info {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  transform: translateY(20%);
}
.footer-primary .info .contact {
  display: flex;
  flex-direction: column;
  gap: 1.4em;
}
.footer-primary .info .contact li:nth-child(1) {
  display: flex;
  gap: 1em;
}
.footer-primary .info .contact li:nth-child(1) img {
  width: 14px;
  height: 100%;
  transform: translateY(30%);
}
.footer-primary .info .contact li:nth-child(2) {
  display: flex;
  gap: 1em;
  align-items: center;
}
.footer-primary .info .contact li:nth-child(3) {
  display: flex;
  gap: 1em;
  align-items: center;
}
.footer-primary .info .contact li:nth-child(3) img {
  width: 18px;
  height: 100%;
}
.footer-primary .links {
  display: flex;
  flex-direction: column;
  gap: 1em;
  transform: translateY(50%);
  cursor: pointer;
}
.footer-primary .links .link:hover:hover {
  text-decoration: underline;
}
.footer-primary .socials {
  display: inline-flex;
  gap: 0.7em;
  transform: translateY(50%);
}
.footer-primary .socials i {
  gap: 1em;
  padding: 0.5em;
  border: 1px solid #c2d3ff;
  font-size: 1em;
  border-radius: 50%;
  cursor: pointer;
}
.footer-primary .socials i:hover {
  color: #ff52bf;
  border: 1px solid #ff52bf;
}
.footer-primary .socials i:nth-child(1) {
  padding: 8px 11.2px;
}

.copy {
  height: 12vh;
  display: flex;
  justify-content: end;
  padding-right: 5em;
  background-color: #00252e;
  color: #ebfbff;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
}

/*# sourceMappingURL=styles.css.map */
