@use '../sass-utils/variables' as *;

.footer-primary {
    height: 70vh;
    display: flex;
    justify-content: space-around;
    background: $Very-Dark-Cyan;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: $Very-Pale-Cyan; // TEST

    .socials {
        display: inline-flex;
        gap: .7em;

        i {
            padding: .5em;
            border-radius: 50%;

            border: 1px solid red; // TEST
        }
    }
}