@use '../sass-utils/variables' as *; 

header {
    height: 100vh;
    background-image: url(/images/bg-hero-desktop.svg);
    background-color: $Very-Pale-Cyan;

    @media screen and (max-width: 992px) {
        height: 97vh;
    }
}