nav {
    height: 20vh;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
    margin-bottom: 2.5em;

    @media screen and (max-width: 992px) {
        align-items: flex-start;
        padding: 2em 1.2em 0 1.2em;
        height: unset;

        .logo-primary {
            width: 30%;
        }
    }
}