@use '../sass-utils/variables' as *;

.btn-primary {
    width: 14em;
    padding: 1em;
    background-color: white;
    border: none;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}

.btn-hero {
    padding: 1em;
    width: 40%;
    border-radius: 2em;
    border: none; 
    background-color: $Pink;
    color: white;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

.cta-btn {
    padding: 1.2em;
    width: 45%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 2em;
    border: none;
    background-color: $Pink;
    color: white;
    font-size: 1em;
    cursor: pointer;
}