@use '../sass-utils/variables' as *; 
header {
    height: 100vh;
    background-image: url(/images/bg-hero-desktop.svg);
    background-color: $Very-Pale-Cyan;

    .hero-unit {
        padding: 0 3em;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .hero-content {
            display: flex;
            flex-direction: column;
            gap: 2em;


            .hero-title {
                font-size: 2.5em;
                max-width: 80%;
            }

            .hero-subtitle {
                max-width: 70%;
            }
        }

        .hero-cover {
            width: 100%;
        }
    }
}